In [40]:
from faker import Faker
import pandas as pd
faker = Faker()
df = pd.DataFrame()
for i in range(100):
    df = df.append(faker.profile(), ignore_index=True)
    
print(df.head(2))

                                             address   birthdate blood_group  \
0        29115 Thompson Fork\nWest Adamton, NH 71470  1917-09-03          O-
1  5208 Holly Stravenue Apt. 227\nWest Brettport,...  1923-08-13          B+

          company           current_location                       job  \
0  Zavala-Oconnor  (-46.3334035, -56.164207)            Hydrogeologist
1   King and Sons  (-53.1545625, -89.265346)  Waste management officer

                 mail           name  \
0  taylor79@gmail.com     Scott Carr
1  elijah49@gmail.com  Carl Valencia

                                           residence sex          ssn  \
0                         USNS Salinas\nFPO AP 17012   M  461-59-8236
1  170 Bonnie Union Suite 044\nPort Stephanieberg...   M  252-83-2188

        username                                       website
0  malonecharles  [http://small.com/, https://solis-gray.com/]
1        jacob49                     [http://www.ramirez.com/]

In [38]:
#we would like to split address into multiple columns as street(address line 1), address line 2, state n zip...this is part of data formatting to align with the database
new = pd.DataFrame()
for k in range(len(df)):
    temp = df.iloc[k,0]
    temp = temp.replace("\n",", ")
    addr = temp.split(", ")
    #print(len(addr))
    if len(addr) > 2:
        new = new.append({'username': df.iloc[k,11], 'Name': df.iloc[k,7], 'Street': addr[0], 'AddrLine2':addr[1], 'StateZip':addr[2], 'mail': df.iloc[k,6]}, ignore_index=True)
    else:
        new = new.append({'username': df.iloc[k,11], 'Name': df.iloc[k,7], 'Street': addr[0], 'AddrLine2':addr[1], 'mail': df.iloc[k,6]}, ignore_index=True)

In [41]:
recent_contact_info = new
del new, df
print(recent_contact_info.head(25))

              AddrLine2                Name  StateZip  \
0      Port Connorville  Anthony Thomas DVM  NM 71043
1           Port Alyssa     Valerie Barrera  MA 84433
2            Beardburgh    Melissa Anderson  NJ 49740
3      New Rebeccamouth       Jason Kennedy  MI 82754
4            South Chad       Thomas Robles  MT 53572
5          Hayeschester     Taylor Martinez  ME 37261
6             Whitebury     Laura Maldonado  MS 46105
7      Port Janechester       Brandon Myers  NY 61543
8          DPO AA 89069      William Chavez       NaN
9            Whiteburgh       Holly Jackson  KS 62997
10         Rebeccamouth        Mark Freeman  MO 83479
11         FPO AE 51618       Angela Fields       NaN
12          Hancockport         Anita Scott  OR 96926
13   Lake Autumnborough        Dana Stewart  CT 99124
14           Jamesmouth       Jack Odonnell  SD 18844
15         DPO AP 99475        Edward Green       NaN
16          North Bruce         Leslie Huff  IA 98843
17       Port Jamesstad         Brandi Duke  CO 67903
18           Doyleville       Richard Smith  NC 53061
19     West Christopher        Michael Ford  RI 36883
20  South Courtneyshire          Paula King  IA 81890
21            New David          Donna Cook  ID 67112
22           Morrisport       Tyler Spencer  KS 03269
23         South Cheryl       Nicole Daniel  ME 82408
24           Joannaside      Brandon Nelson  NH 88506

                            Street                         mail  \
0               532 Michael Radial          anthony52@gmail.com
1          91083 Christopher Field       kelleythomas@yahoo.com
2     5324 Donna Station Suite 578        mooredaniel@gmail.com
3               02930 Collins Dale          brandon51@gmail.com
4                   1626 Love Ford              lford@gmail.com
5                307 Brian Viaduct           sserrano@yahoo.com
6               285 Nguyen Gardens            psuarez@gmail.com
7        12378 Lisa Ways Suite 065     millerpatricia@gmail.com
8               Unit 4390 Box 1717      robertgreen@hotmail.com
9    88583 Bryan Centers Suite 295        stephanie85@yahoo.com
10  772 Harris Extension Suite 504             kbrown@gmail.com
11                     USNV Gentry       jessicasmith@gmail.com
12               3624 Melissa Fall          mikecarey@gmail.com
13            774 Michelle Freeway      melissaharris@gmail.com
14               1331 Fuller Mount        molinajulie@gmail.com
15              Unit 5588 Box 7739       comptonjesse@gmail.com
16                8495 Moon Shoals       forbesrhonda@yahoo.com
17     102 Michael Fords Suite 849    thompsonshirley@yahoo.com
18               10524 Tran Canyon       sarahchase@hotmail.com
19       10365 Ricky Pine Apt. 841  williamsstephanie@gmail.com
20                  026 Smith Oval       nelsonbailey@gmail.com
21    99752 Farrell Ford Suite 505            vgeorge@gmail.com
22     792 Desiree Island Apt. 612          rpotter@hotmail.com
23      2173 David Flats Suite 769        longheather@yahoo.com
24    6734 Mejia Squares Suite 989         ayalasarah@yahoo.com

           username
0            glewis
1     wallssamantha
2         melanie05
3           nbecker
4      weaverlauren
5            gary15
6           orhodes
7          davidlee
8           fgamble
9    michaelherrera
10         zjohnson
11       michelle77
12      briandunlap
13       erinarnold
14           vadams
15         grayseth
16  middletoncolton
17        lindsay97
18         cshelton
19    tiffanymiller
20      catherine07
21  christiejohnson
22           kreyes
23     amandafisher
24         ginarice

In [43]:
recent_contact_info.to_csv(r'C:\Users\lavan\Documents\Program\recent_ContactInfo.csv', index = False)