In [3]:
# importing pandas module   
import pandas as pd   
      
# making data frame   
df_addr = pd.read_csv(r"C:\Users\le5752\Documents\DB_Python\AddrDiff.csv")   
df_phone = pd.read_csv(r"C:\Users\le5752\Documents\DB_Python\ph_final.csv") 
df_email = pd.read_csv(r"C:\Users\le5752\Documents\DB_Python\EmailsDiff.csv") 

#df_email.head(10) 
#df_phone.head(10)
#df_addr.head(10)

        EID   telephone                                       DB_phone
0     CEN95  5123506086          ['None512732928033323', '5123296704']
1  GOLDENR1  9155818010     ['9158776354', '9158771796', '9157408010']
2    DNM223  9522974709     ['6175520433', '6519624144', '9529960173']
3     SFS99    9.63E+11  ['None65925271', 'None775576692', 'None7955']
4   DM46382  2108335557                                 ['2108364289']
5       KWA  5128372274                   ['5124710716', '5124716249']
6   MSM3468  9729643893                                 ['4692719705']
7    SKR868  7136619776                                 ['8326280962']
8   CJS4767  2812247268                            ['None28199523574']
9    NCW453  2813609086                                 ['8326230305']

In [29]:
E_P_merge = pd.merge(df_email, df_phone, how='outer');
AEP_merged = pd.merge(df_addr, E_P_merge, how='outer');
#result1.to_csv(r'C:\Users\le5752\Documents\DB_Python\fFinal.csv', index = False)
print(AEP_merged.head(3))
print(len(AEP_merged ))

       EID              CSV_Address  \
0   EVR253  1715 gosnell rd apt 104
1   CNG829    2900 Manor Rd., #3362
2  EVANSPA   203 Burning Tree Drive

                                          DB_Address  \
0          ['2313 Sequoia Ln', '2810 Hemphill Park']
1  ['The University of Texas at Austin', '2208 De...
2  ['The University of Texas at Austin', '12704 L...

                     Email_csv                           Email_db telephone  \
0                          NaN                                NaN       NaN
1  caitlinnoelgraham@gmail.com          {'caitgraham@utexas.edu'}       NaN
2       peggy.evans@utexas.edu  {'peggy.evans@austin.utexas.edu'}       NaN

  DB_phone
0      NaN
1      NaN
2      NaN
34885

In [37]:
#del df_AEP, df_AE, df_A, df_AP, df_EP, df_P, df_E

In [38]:
df_AEP = AEP_merged[(AEP_merged.CSV_Address.notnull())&(AEP_merged.Email_csv.notnull())&(AEP_merged.telephone.notnull())]
print("AEP : ", len(df_AEP))

df_AE = AEP_merged[(AEP_merged.CSV_Address.notnull())&(AEP_merged.Email_csv.notnull())&(AEP_merged.telephone.isnull())]
print("AE : ", len(df_AE))

df_A = AEP_merged[(AEP_merged.CSV_Address.notnull())&(AEP_merged.Email_csv.isnull())&(AEP_merged.telephone.isnull())]
print("A : ", len(df_A))

df_AP = AEP_merged[(AEP_merged.CSV_Address.notnull())&(AEP_merged.Email_csv.isnull())&(AEP_merged.telephone.notnull())]
print("AP : ", len(df_AP))

df_EP = AEP_merged[(AEP_merged.CSV_Address.isnull())&(AEP_merged.Email_csv.notnull())&(AEP_merged.telephone.notnull())]
print("EP : ", len(df_EP))

df_P = AEP_merged[(AEP_merged.CSV_Address.isnull())&(AEP_merged.Email_csv.isnull())&(AEP_merged.telephone.notnull())]
print("P : ", len(df_P))

df_E = AEP_merged[(AEP_merged.CSV_Address.isnull())&(AEP_merged.Email_csv.notnull())&(AEP_merged.telephone.isnull())]
print("E : ", len(df_E))

AEP :  303
AE :  1037
A :  12153
AP :  1711
EP :  2031
P :  10652
E :  6995

In [39]:
df_AEP.to_csv(r'C:\Users\le5752\Documents\DB_Python\AEP.csv', index = False)
df_AE.to_csv(r'C:\Users\le5752\Documents\DB_Python\AE.csv', index = False)
df_AP.to_csv(r'C:\Users\le5752\Documents\DB_Python\AP.csv', index = False)
df_EP.to_csv(r'C:\Users\le5752\Documents\DB_Python\EP.csv', index = False)
df_A.to_csv(r'C:\Users\le5752\Documents\DB_Python\A.csv', index = False)
df_E.to_csv(r'C:\Users\le5752\Documents\DB_Python\E.csv', index = False)
df_P.to_csv(r'C:\Users\le5752\Documents\DB_Python\P.csv', index = False)